div
  div
div

div

div


  
div

div


div

div

div(
  a='a'
  b='b'

  c='c'


  d='d'
)

+dummyMixin({
  a: 'foo',
  b: 'bar'
})

+dummyMixin({
  a: 'foo'
})

+dummyMixin({
  a: 'foo',

  b: 'bar',


  c: 'baz'
})
