p It must always be on its own line
p It must always be on its own line
| Plain text can include <strong>html</strong>
p
  | It must always be on its own line
p Plain text can include <strong>html</strong>
