if true==false
  p false
else if true ==true
  p true
else
  p who knows?

if true!= false
  p true
else if true != true
  p false
else
  p who knows?

if true === false
  p false
else if true === true
  p true
else
  p who knows?

if true !== false
  p true
else if true !== true
  p false
else
  p who knows?

if true
  p true
else
  p false
