input(type='text' name='name' checked)
input(type='text' name='name' value='value' )
input( type='text' name='name' value='value')
input( type='text' name='name' value='value' )
a(style={color: 'red', background: 'green'})
a( class = ['red', 'green', 'blue'])
a(class= {active: currentUrl === '/', inactive: true} )
a( class='class')(class='class' )
img(src=url( 'class' ))
img( src=url('class') )
