input(type='text' name='name' checked='true')
input(type='text',name='name',value='value')
input(type='text', name='name', value='value')
input(type='text' ,checked ,value='value')
input(type='text' , name='name' , value='value')
input(type='text'   name='name'   value='value')
input(type='text'  name='name'  value='value')
input(type='text', name='name',value='value')
input(type='text', name='name' value='value')
input(type='text'  name='name' ,value='value')
a(style={color: 'red', background: 'green'})
a(class = ['red', 'green', 'blue'])
a(class= {active: currentUrl === '/', inactive: true})
