name: Tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        strategy:
            matrix:
                node-version: [12.x, 14.x, 16.x, lts/*]
                os: [ubuntu-latest, windows-latest, macos-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
              cache: 'npm'
            - run: npm ci
            - run: npm coverage
            - uses: codecov/codecov-action@v2
